form{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    text-align: left;
    input{
        height: 1rem;
        margin-bottom: 2rem;
        padding: 1rem;
    }
}

@media (max-width:850px) {
   form{
    width: 100%;
} 
}