.head_paragraph {
  color: var(--clr-cool-gray);
}
form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  text-align: left;
  .input_head{
    display: flex;
    justify-content: space-between;
    label {
      color: var(--clr-marine-blue);
      font-weight: 600;
    }
    .error{
      color: var(--clr-strawberry-red);
    }
  }
  input {
    height: 3rem;
    margin-bottom: 1rem;
    padding: 1rem;
    color: var(--clr-marine-blue);
    font-weight: 400;
    border-radius: 6px;
    border: 1px solid var(--clr-cool-gray);
  }

  .input_error{
    border: 1px solid var(--clr-strawberry-red);
  }
  ::placeholder {
    color: var(--clr-cool-gray);
    font-weight: 0;
  }
}
h3 {
  color: var(--clr-marine-blue);
  font-weight: 600;
}

@media (max-width: 850px) {
  form {
    width: 100%;
  }
}
