.ad_on_card_wrapper {
  width: 60%;
  height: fit-content;
  border: 1px solid grey;
  margin: auto;
  border-radius: 6px;
  transition: 0.4s;
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: center;
        .active_plan {
    border: 2px solid blue;
    background-color: rgba(0, 0, 255, 0.205);
  }
}

.ad_on_card_wrapper:hover {
  border: 1px solid blue;
  background-color: rgba(0, 0, 255, 0.212);
}

@media (max-width: 850px) {
  .ad_on_card_wrapper {
    width: 100%;

    padding: 0.7rem;
    align-items: center;
    .details{
        text-align: left;
       p{
        font-size: .9rem;
        padding: 0;
        margin: 0;
       } 
    }
  }
}
